.titulo {
    font-family: 'Lemonada', cursive;
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
}

.tituloUno {
    font-family: 'Lemonada', cursive;
    font-size: 13px;
    color: whitesmoke;
    text-decoration: none;
}